.banner {
    height: 550px;
    background: rgba(0, 0, 0, 0.5) url("http://pixner.net/boleto/demo/assets/images/banner/banner02.jpg");
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner p {
    font-size: 38px;
    line-height: 1.4;
    color: white;
}

.header1 {
    color: white;
    font-size: 80px;
    font-weight: 700;
}

.header2 {
    color: #31d7a9 !important;
}