.cardcontainer {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 25px;
    max-height: 500px;
    /* border: solid 1px red; */
}

hr {
    border-top: dashed 1px white;
    width: 85%;
    opacity: 0.3;
}

h5 {
    color: white;
}

.cardcontent {
    padding: 15px 0px;
    background-color: #032055;
    float: inline-end;
    height: 200px;
}

.cardrating {
    width: 100%;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 0px 10px;
}

.cardheader {
    padding: 5px 20px;
}

.cardrating>div {
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.cardimg {
    position: relative;
    overflow: hidden;
}

.cardimg>img {
    transition: all ease-in 0.3s;
    max-width: 100%;
    height: auto;
}

.cardimg>img:hover {
    transform: scale(1.1);
}